<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static%}
  <title>Document</title>
  <link rel="styleSheet" type="" href="{% static 'auth.css' %}">
</head>
<body>
  <h2>Sign Up</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
    <div class="options">
      <p>Don't have an account?
        <a href="/signin">Create one!</a>
      </p>
    </div>
</form>
</body>
</html>